html {
        background: grey;
}

body { 
	font-family:sans-serif;
	margin: 1.5em;
	border: .2em #0aaaaa solid;
	padding: 1em; 
	padding-top: 1.5em;
	background: #FEFEFE;
	
}

.footer { 
	padding-top: 1em; 
	color: grey; 
}

p {
	margin-left: 1em;
	padding-left: 1em;
	padding-right: 1em;
	margin-right: 4em;
}

a {
	text-decoration: none;
}

h3 {
	margin-left: 1em;
}

#contact {
	float:right;
	position: fixed;
	right: 3em;
	top: 3em;
}
#contact img {
	height: 5em;
	clear: both;
	width: 5em;

}
