html {
        background: grey;
        padding 2em;
}
body { 
	font-family:sans-serif;
	margin: 1em;
	border: .2em #0aaaaa solid;
	padding: .5em; 
	background: #FEFEFE;
	
}

.footer { 
	padding-top: 1em; 
	color: grey; 
}

p {
	margin-left: 1em;
}

a {
	text-decoration: none;
}

